**/target/
**/.DS_Store
**/*.iml
**/deploy/
**/logs/
**/aclogs/
**/applogs/
**/node_modules/
**/*.lock
.classpath
.idea/
.project
.settings/
**/dist/
**/*.versionsBackup
.vscode
/gerrit/
*.tar.gz
/install/